<!-- #{extends 'main.html' /} #{set title:'Pagina Inicial'/} -->
<!-- <h1 align="center" >REQUERIMENTO PARA PROCESSO</h1></br> -->
<!-- <div align="center"> -->

<!--     	<form action="@{Seacs.listarReq}"> -->
    	
<!--     	<input name="busca"> -->
    	
<!--     	</br> -->
<!--     	<button style="width:150px;">Pesquisar Requerimentos</button> -->
    	
<!--     	</form> -->
  
    	
<!-- </br> -->
<!-- <div align="center"> -->


<!-- #{list items:seacs, as:'seac'} -->
<!-- 	<br> -->
	
<!-- 	<h3 style="color:#2F4F4F;"> Matricula: ${seac?.matricula}<br> -->
<!-- 	Requerimento: </h3><br> <iframe src="../uploads/${seac?.requerimento}" style="width:500px;"> <br> -->
	
<!-- #{/list} -->
#{extends 'main.html' /} #{set title:'Pagina Inicial'/}
<style>

h1 {
	text-aligner: center;
}

#req01 {
	text-align: center;
	margin-top: 40px;
}

form {
	display: flex;
}

#req02 {
	text-align: center;
	margin-top: 40px;
}

iframe {
	width: 600px;
	height: 832px;
}

h3 {
	margin-top: 60px;
}
</style>
<body>
	<h1>REQUERIMENTO PARA PROCESSO</h1>
	<div id="req01">	
    	<form class="form-inline my-2 my-lg-0" action="@{Seacs.listarReq}">
	      <input name="busca" class="form-control mr-sm-2" type="search" placeholder="Digite a matricula do aluno" aria-label="Pesquisar">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
	    </form>
	</div>
	<div id="req02">
	#{list items:seacs, as:'seac'}
		<h3> Nome: ${seac?.nome}<br>Matricula: ${seac?.matricula}</h3>
		<iframe src="../uploads/${seac?.requerimento}" ></iframe><br>
		<a href="../uploads/${seac?.requerimento}" download><p style="font-size:30px">Baixar Modelo</p></a>
		
	#{/list}
	</div>
</body>

