#{extends 'main.html' /} #{set title:'Pagina Inicial'/}


<style>
.parte03 h2 {
	text-align: center;
	margin-bottom: 32px;
}

textarea {
	padding: 10px;
	border-radius: 5px;
	resize: none;
}

form button {
	display: flex;
}
</style>
<body>
<div class="parte03">
	<h2>SUGESTÃO</h2>
	<form>
		<textarea rows="10" cols="50" name="comentarios" maxlength="300"
			minlength="10" placeholder="Digite aqui sua sugestão ou crítica!"></textarea>
		<br>
		<button type="submit" class="btn btn-primary">Enviar</button>
		<button type="reset" class="btn btn-primary">Apagar Tudo</button>
	</form>
</div>
</div>
</body>