#{extends 'main2.html' /} #{set title:'Pagina Inicial'/}

<style>

.msgConc{
	color: #082336;
	font-size: 25px;
	text-align: center;
	background-color: lime;
	margin: 20px;
}
.msgError{
	color: #082336;
	font-size: 25px;
	text-align: center;
	background-color: red;
	margin: 20px;
}
h1 {
	text-align: center;
}

iframe {
	width: 250px; 
	height: 349px;
}

#deit {
	display: flex;
}

#p1 {
	display: block;
}

#p2 {
	display: block;
	margin: 0px 0px 0px 100px;
}
</style>
<body>
	#{if flash.success}
		<div class='msgConc'>${flash.success}</div>
	#{/if}
	<h1>ABRIR REQUERIMENTO</h1>
	<div id="deit">
		<div id="p1">
		<form action="@{Alunos.salvarPDF}" method="post" enctype="multipart/form-data">
			<input type="hidden" name="seac.id" value="${seac?.id}" />
			
					<label for="username">Nome:</label>
					<input type="text" name="seac.nome" value="${seac?.nome}" /> <br> 
					<span class="textoError">#{error 'seac.nome'/}</span><br>
					
					<label for="username">Matricula:</label>
					 <input type="text" name="seac.matricula" value="${seac?.matricula}" /> <br> 
					<span class="textoError">#{error 'seac.matricula'/}</span><br>
				
				Requerimento:
	<input type="file" name="foto">
	<br>
	
	#{if seac?.id}
			<img src="/uploads/${seac.requerimento}" style="width:300px;">
			
	#{/if}
	<br>
		#{if flash.error}
			<div class='msgError'>${flash.error}</div>
		#{/if}
		<button name="anexReq">Salvar</button>
	
</form>
		</div>
		<div id="p2">
			<p>Modelo de Requerimento para Download</p>
			<iframe src="https://drive.google.com/file/d/1aKWvAbXMoOS4m3ikf2jBZ7qmHE2zwU3c/preview" allow="autoplay"></iframe>
		</div>
	</div>
</body>