#{extends 'main2.html'/} #{set title:'Pagina Inicial'/}
<style>
.parte03 h2 {
	text-align: center;
	margin-bottom: 32px;
}

fieldset hr {
	opacity: 1;
}

.flexivel02 {
	display: flex;
}

#fi01, #fi02, #fi03 {
	text-align: center;
	height: 427px;
	width: 300px;
	padding: 30px;
	margin: 0px 10px 0px 10px;
	background-color: white;
}

</style>

<body>
	<h2>PÁGINA INICIAL</h2>
	<div class="flexivel02">
		<fieldset id="fi01">
			<h3>Notícias</h3><hr>
			<p>14/07/2021<br>
			IFRN oferta 262 vagas para cursos de pós-graduação</p>
			<p>22/07/2021<br>
			IFRN abre vagas para cursos superiores de graduação via SiSU</p>
			<p>22/07/2021<br>
			Abertas as inscrições para o 2º Seminário de Estudos Pedagógicos</p>
		</fieldset>
		<fieldset id="fi02">
			<h3>Mural</h3><hr>
			<p>
				🟢 25 ONLINE<br><br>
				🔵 01 SUSPENSO<br><br>
				🔴 05 SAIU<br><br>
				🟠 40% PROCESSADOR<br><br>
				🟡 0 SUGESTÃO<br><br>
			</p>
		</fieldset>
		<fieldset id="fi03">
			<h3>Atualizações</h3><hr>
			<p>14/07/2021<br>
			Pagína Inicial</p>
			<p>22/07/2021<br>
			Suporte ao Usuário</p>
			<p>22/07/2021<br>
			Listagem de Alunos</p>
			<p>25/07/2021<br>
			Menu Adicionado<br>
			Função de Sair<br>
			Ver Perfil</p>
		</fieldset>
	</div>
	</body>
</html>