#{extends 'main.html' /} #{set title:'Pagina Inicial'/}

<style>

.msgConc{
	color: #082336;
	font-size: 25px;
	text-align: center;
	background-color: lime;
	margin: 20px;
}
.msgError{
	color: #082336;
	font-size: 25px;
	text-align: center;
	background-color: red;
	margin: 20px;
}
h1 {
	text-align: center;
}

iframe {
	width: 250px; 
	height: 349px;
}

#deit {
	display: flex;
}

#p1 {
	display: block;
}

#p2 {
	display: block;
	margin: 0px 0px 0px 100px;
}
</style>
<body>
	#{if flash.success}
		<div class='msgConc'>${flash.success}</div>
	#{/if}
	<h1>ENCAMINHAR REQUERIMENTO</h1>
	<div id="deit">
		<div id="p1">
		<form action="@{Professores.salvarEnc}" method="post" enctype="multipart/form-data">
			<input type="hidden" name="professor.id" value="${professor?.id}" />
					<label for="username">Nome do professor</label>
					 <input type="text" name="professor.nome_prof" value="${professor?.nome_prof}" /> <br> 
					<span class="textoError">#{error 'professor.nome_prof'/}</span><br>
					
					<label for="username">Numero do Processo</label>
					 <input type="text" name="professor.numero_pro" value="${professor?.numero_pro}" /> <br> 
					<span class="textoError">#{error 'professor.numero_pro'/}</span><br>
				
				Requerimento:
	<input type="file" name="foto">
	<br>
	
	#{if professor?.id}
			<img src="/encaminhados/${professor.requerimento_prof}" style="width:300px;">
			
	#{/if}
	<br>
	
		<button name="anexReq">Salvar</button>
</form>
		
</body>